.animationArea{
    width: 100%;
    height: 100vh;
    overflow-x:hidden;
    overflow-y: hidden;
    background-color: rgb(32, 46, 41);
    margin: 0 auto;
    text-decoration: none;
    overflow: hidden;
    z-index: -1;
}

#banner{
    max-height:fit-content;
    width: 50%;
    margin: 30vh auto;
    padding: 20px 30px;
    border-radius: 10%;
    background-color: black;
    text-decoration: none;
    opacity: 75%;
    z-index: 99;
}

.hoverText{
    display: none;
    font-size: 15px;
    text-decoration: none;
    color:black;
    position: relative;
    top:-30%; 
    border: 1px solid white;
    border-radius: 25%;
    background-color: antiquewhite;
    z-index: 100;
}

.name:hover .hoverText{
    display: block;
    border: 1px solid white;
    background-color: antiquewhite;
    text-decoration: none;
}

.name{
    font-size: 3em;
    max-height: min-content;
    text-align:center;
    color:black;
    display: block; 
    background-color: rgb(207, 209, 211); 
    padding: 8px;    
    border-radius: 25%; 
    margin: auto;
    visibility: hidden;
    transform-origin: bottom;
    animation: 
        name 1.5s,
        view 2s infinite;
    animation-timing-function: ease;
    animation-delay: 3s;
}
.delayedNav{
    color: white;
    font-size: 20px;
    position: absolute;
    bottom: 0;
    right:0;
    visibility: hidden;
    animation: 
        view 3s infinite,
        /* animate 5s linear, */
        flash 5s infinite;
    animation-delay: 3s;
}
.delayedNav:hover{
    font-size: 22px;
    animation-play-state: paused;

}

.titleName{
    color: whitesmoke;
    overflow: hidden;
    display: block;
    visibility: hidden;
    border-right: .15em solid transparent; 
    text-decoration: none;
    white-space: nowrap;
    margin: 0 auto;
    animation: 
        typing 3s steps(40, end),
        view 2s infinite;
        /* blink-caret .75s step-end infinite */
}

#banner:hover .titleName:hover{
    text-decoration: none;
    color:whitesmoke
    
}

.titleSub{
    margin-top: 25px;
    overflow: hidden;
    display: block;
    border-right: .15em solid transparent;
    white-space: nowrap;
    visibility: hidden;
    width:auto;
    margin: 0 auto; 
    color: whitesmoke;
    animation: 
        typing 3s steps(40, end),
        view 2s infinite;
        /* blink-caret .75s step-end infinite; */
    animation-delay: 1.3s;
        
}

.link{
    color:black;
    text-decoration:none;
}

.boxArea{
    position: absolute;
    background-color: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
    
}



.boxArea li{
    position: absolute;
    display: block;
    list-style: none;
    border-radius: 25%;
    width: 25px;
    height: 25px;
    background: rgba(255,255,255, 0.2);
    animation: animate 20s linear infinite;
    animation-direction: alternate-reverse;
    bottom: -150px;
}
.boxArea li:hover{
    box-shadow: 5px 5px 5px 0 red;
    animation-play-state: paused
}

.boxArea li:nth-child(1){
    left: 86%;
    width: 80px; 
    height: 80px;
    animation-delay: -2s
}

.boxArea li:nth-child(2){
    left: 12%;
    width: 30px; 
    height: 30px;
    animation-delay: 1.5s;
    animation-duration: 10s;
}

.boxArea li:nth-child(3){
    left: 70%;
    width: 150px; 
    height: 150px;
    animation-delay: 5.5s;

}

.boxArea li:nth-child(4){
    left: 30%;
    width: 150px; 
    height: 150px;
    animation-delay: 5.5s;
    animation-duration: 10s
}

.boxArea li:nth-child(5){
    left: 65%;
    width: 40px; 
    height: 40px;
    animation-delay: -1s;
}

.boxArea li:nth-child(6){
    left: 15%;
    width: 110px; 
    height: 110px;
    animation-delay: 3.5s;
}

.boxArea li:nth-child(7){
    left: 76%;
    width: 75px; 
    height: 75px;
    animation-delay: 0s;
    animation-duration: 9s
}

@keyframes flash{
    0% {
        opacity: 1;
    }
    15%{
        opacity: .25;
    }

    45%{
        opacity: 1;
    }

    60%{
        opacity: .25;
    }
    100%{
        opacity: 1;
    }
}

@keyframes name {
    0%   { 
        transform: scale(1,1)    translateY(0);
        opacity: 0;
         
    }
    10%  { 
        transform: scale(1.1,.9) translateY(0); 
    }
    30%  { 
        transform: scale(.9,1.1) translateY(-20px); 
        opacity: .5;
    }
    50%  { 
        transform: scale(1,1)    translateY(0); 
        opacity: .60;
    }
    57%  { 
        transform: scale(1,1)    translateY(-7px);
        opacity: .75; 
    }
    64%  { 
        transform: scale(1,1)    translateY(0); 
        opacity: .85;
    }
     
    100% { 
        transform: scale(1,1)    translateY(0);
        opacity: 1;
        
    }
}
@keyframes view{
    from{
        visibility: hidden;
        
    }
    to{
        visibility: visible;
    }
}

@keyframes animate{
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }
    100%{
        transform: translateY(-1000px) rotate(480deg);
        opacity: 1
    }
}

@keyframes typing{ 
    from { 
        width: 0;
        color:transparent;
        display: block;
          
         } 
    to {
        width:100%;
        color:whitesmoke;
        display: block
    }
}

/* @keyframes blink-caret {
    from, to { border-color: transparent; color: whitesmoke; }
    50% { border-color: white; }
} */

@media screen and (max-width: 600px){
    
    #banner{
        margin: 25vh auto;
        width:90%;
        
    }
    h2{
        font-size: 22px;
    }
    .name{
        width:25%;
    }
    
}