html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body{
    background-color: rgb(32, 46, 41);
    width:100%;
    margin: 0 auto;
}
.active{
    background-color:rgb(219, 231, 228);
    height: 100%;
    color:rgb(32, 46, 41)
}
.projectImage{
    max-height: 200px;
    max-width: 400px;
    padding-bottom:10px;
}


.card{
    padding:20px;
    margin: 10px auto;   
    background-color:rgb(106, 136, 122);
    height:auto;
}

.card-header{
    text-align: center;
    background-color: rgb(75, 136, 93);
    margin-bottom: 20px;
    color:whitesmoke;
}

.skills{
    display: inline-flex;
    width: 25%;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 10px 20px;    
    text-align: center;
    
}

.skillSet{
    display: grid;
    grid-template-columns:30%, 30%, 30%;
    grid-template-rows: auto;
    grid-auto-flow: row;
    grid-gap: 10px;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    height: fit-content;
}

.portrait{
    height: auto;
    max-width: 100%;
    margin-bottom:auto;
    margin-top:auto;
    background-color:rgb(106, 136, 122);
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
}

.container{
    border:black 1px solid;
    margin: 50px auto;
    background-color: rgb(219, 231, 228);
    padding: 10px 20px;
    margin-bottom: 50px;
}

.writeInText{
    font-family: "Arial";
    font-size: 20px;
    margin: 10px 0 0 10px;
    color:black;
    overflow: hidden;
    animation: 
        typing 3.5s steps(40, end),
        blink-caret .75s step-end infinite
}

textarea{
    width: 99%;
}

.projectHead{
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid black;
    margin-bottom: 10px;
}

.projects{
    margin-bottom: 20px;
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
}

.projects:hover{
    box-shadow: 5px 5px 20px 10px #404244;
}

.row{
    margin: 0 auto;
}

h3{
    font-size: 18px;
}

.intro{
    margin-top: 20px;
}
.nav{
    background-color:rgb(75, 136, 93);
    
}
a{
    color: rgb(219, 231, 228);
    text-decoration: none;
}

a:hover{
    color: rgb(219, 231, 228);
    text-decoration: none;
    background-color:rgb(106, 136, 122);
}


@keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-moz-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-o-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-ms-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}
    
@media screen and (max-width: 600px){
    .container{
        margin: 10vh auto;
        width:98%;
        
    }
    .writeInText{
        font-size: 16px;
    }
    .portrait{
        display: block;
        max-width: 75%;
        margin-left: auto;
        margin-right: auto;
    }
    .skills{
        width: 50%
    }
    
}





