html{
    scroll-behavior: smooth;
}
body{
    background-color: rgb(32, 46, 41);
}
#banner{
    z-index: 99;
    height: 40%;
    width: 50%;
    margin: 200px auto 0 auto;
    padding: 20px 20px;
    border-radius: 10%;
    background-color: black;
}
    /* .hooverTextQQWAA */ */

.head{
    width: 100%;
    background-color: rgb(80, 195, 128, .8);
    margin: 0 auto;
    padding: 10px 20px;
}
.position{
    display: inline;
    margin-left: 20px;
    color: black;
}
.name{
    display: inline;
    color: black;
    text-decoration: none;
}
.name:hover{
    text-decoration: none;

}
.titleName{
    color: white;

}
.titleSub{
    margin-top: 25px;
    color: white;
}
.navbar{
    position:sticky;
    top:0;
    width: 100%;
    z-index:2;
    background-color: rgb(80, 195, 128, .8);
}
.card-img-top{
    margin: 0 auto;
    /* height:150px;
    width:200px; */
}
.card{
    padding:20px;
    margin: 10px 3.75%;
    max-width:96%;   
    background-color:rgb(106, 136, 122);
    height:auto;
}
.card-header{
    text-align: center;
    background-color: rgb(75, 136, 93);
    margin-bottom: 20px;
    color:whitesmoke;
}

.card-footer{
    bottom:0;
    width: 100%;
    height: 40px;
    text-align: center;
    z-index:2;
}
.skills{
    width: fit-content;
    margin: 10px 20px;
    display: inline-block;
    text-align: center;
}

.portrait{
    height: auto;
    max-width: 100%;
    margin-bottom:20px;
    margin-top:20px;
    background-color:rgb(106, 136, 122);
}

.container{
    border:black 1px solid;
    margin: 50px auto;
    background-color: rgb(219, 231, 228);
    padding: 10px 20px;
    margin-bottom: 50px;
}

textarea{
    width: 99%;
}
.projectHead{
    padding-bottom: 40px;
    border-bottom: 2px solid black;
    margin-bottom: 10px;
}

.row{
    margin: 0 auto;
}

h3{
    font-size: 18px;
}

.intro{
    margin-top: 20px;
}




