html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body{
    background-color: rgb(32, 46, 41);
    width:100%;
    margin: 0 auto;
}

.projectImage{
    max-height: 200px;
    max-width: 400px;
}

.card-img-top{
    margin: 0 auto;

}
.card{
    padding:20px;
    margin: 10px auto;
    max-width:96%;   
    background-color:rgb(106, 136, 122);
    height:auto;
}
.card-header{
    text-align: center;
    background-color: rgb(75, 136, 93);
    margin-bottom: 20px;
    color:whitesmoke;
}

.skills{
    width: fit-content;
    margin: 10px 20px;
    display: inline-block;
    text-align: center;
}

.portrait{
    height: auto;
    max-width: 100%;
    margin-bottom:20px;
    margin-top:20px;
    background-color:rgb(106, 136, 122);
}

.container{
    border:black 1px solid;
    margin: 50px auto;
    background-color: rgb(219, 231, 228);
    padding: 10px 20px;
    margin-bottom: 50px;
}


textarea{
    width: 99%;
}
.projectHead{
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid black;
    margin-bottom: 10px;
}
.projects{
    margin-bottom: 20px;
}
.projects:hover{
    box-shadow: 5px 5px 20px 10px #404244;
}

.row{
    margin: 0 auto;
}

h3{
    font-size: 18px;
}

.intro{
    margin-top: 20px;
}





